@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
   margin: 0;
   padding: 0;
   border: 0;
   outline: 0;
   box-sizing: border-box;
   text-decoration: none;
   list-style: none;
   font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #dedede;
}



header{
   width: 250px;
    height: 100vh;
    background-color: #f6f0f0;
    transition: all .4s ease;
 }
 .dark header{
    background-color: #131314;
 }
 header.active{
    width: 85px;

 }

header nav{
    height: 100vh;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header nav ul li{
    background-color: #1e96fc;
    border-radius: 5px;
    margin-bottom: 16px;

}
header nav ul li a{
    padding: 6px;
    display: flex;
    gap: 16px;
    align-items: center;
    color: #ffffff;
}

header nav ul li ion-icon{
    width: 36px;
    height: 20px;
    line-height: 36px;
    text-align: center;
    background-color:#ffffff;
    color: #1e96fc;
    padding: 10px 2px;

}
header nav .tema{
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
    align-items: center;

}
header nav .troca{
    width: 40px;
    height: 16px;
    border-radius: 10px;
    background-color: #dedede;
    position: relative;
    margin: 0 16px;
    transition: all .3s ease;
    cursor: pointer;
}
header nav .troca::after{
    content: "";
    width: 24px;
    height: 24px;
    border-radius: 15px;
    background-color: #999999;
    position: absolute;
    top:-4px ;
    left: 0;
    transition: all .3s ease;
}
header nav .troca.active{
    background-color: #1e96fc50;

}

header nav .troca.active::after{
    background-color: #1e96fc;
    left: calc(100% - 24px);
   
}
/*modo dark*/
.dark header nav ul li a{
    color: #103c62;
   
}
.dark header nav ul li ion-icon{
    background-color: #103c62;
}
/* encolher o dashboard */
header nav ul li span{
    transition: all 300ms ease;
}
header.active nav ul li span{
    display: none;
}
header.active nav  .img{
    display: none;
}
/*  */
header.active nav .tema{
    flex-direction: column;
    gap: 16px;
}
/* Main */
main{
    width: calc(100% - 250px);
    height: 100vh;
    overflow: auto;
    position: fixed;
    top: 0;
    right: 0;
    padding: 60px;
    transition: all 300ms ease;

}
main.active{
    width: calc(100% - 85px);
}